@{
    ViewData["Title"] = "Editar Fornecedor";
}
@model IEnumerable<Fornecedor>

<h1>@ViewData["Title"]</h1>

<form asp-action="Index" method="post">
    <label>procurar
        @* <input type="text" asp-for="RazaoSocial" /> *@
        <span>Verificar viabilidade depois</span>
    </label>
    <input type="submit" value="procurar">
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var fornecedor in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => fornecedor.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fornecedor.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => fornecedor.RazaoSocial)
                </td>
            </tr>
        }
    </tbody>
</table>