@model agropindas.Models.ProducaoViewModel
@{
    ViewData["Title"] = "Gerenciamento de Produção";
}

`<style>
     .popup-container {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5);
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .popup-form {
         background: white;
         padding: 20px;
         border-radius: 8px;
         box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     }

</style>

<div class="container mt-5">
    <h1 class="text-center mb-4 text-success">Gerenciamento de Produção</h1>

    <!-- Seção Suporte Calha -->
    <div class="card mb-4 shadow-sm border-success">
        <div class="card-header bg-success text-white">
            <h3>Detalhes do Suporte de calhas</h3>
        </div>
        <div class="card-body"> 
            @if (Model.ProducaoCalha == null)
            {
                <form asp-action="SaveProduction" method="post">
                    <input type="hidden" asp-for="SuporteProducao.Id" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label asp-for="SuporteProducao.CapacidadeMudas" class="form-label">Capacidade de Mudas</label>
                                <input asp-for="SuporteProducao.CapacidadeMudas" class="form-control border-success" type="number" placeholder="Capacidade de Mudas" />
                                <span asp-validation-for="SuporteProducao.CapacidadeMudas" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                <label class="form-label">Ocupada</label>
                                <div class="form-check form-check-inline">
                                    <input asp-for="SuporteProducao.ocupada" class="form-check-input" type="radio" value="true" id="ocupada-true" />
                                    <label for="ocupada-true" class="form-check-label">Sim</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="SuporteProducao.ocupada" class="form-check-input" type="radio" value="false" id="ocupada-false" />
                                    <label for="ocupada-false" class="form-check-label">Não</label>
                                </div>
                                <span asp-validation-for="SuporteProducao.ocupada" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <!--Botão para abrir form de produção-->
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-success mb-4" onclick="toggleForm()">Iniciar Produção</button>
                    </div>

                    <!-- Seção Produção -->
                    <div id="productionForm" style="display: none;">
                        <div class="card-header bg-secondary text-white">
                            <h3>Detalhes da Produção</h3>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="form-group mb-3">
                                    <label for="js-recupera-Lote">Produto a ser cultivado</label>
                                    <select asp-for="ProducaoCalha.IdProdutoProduzido" id="js-recupera-Lote" class="form-control border-success" onchange="buscarLotes()">
                                        <option value="0">Selecione...</option>
                                        @foreach (var p in Model.produtosView)
                                        {
                                            <option value="@p.Id">@p.Nome</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="IdLoteUsado">Lote Utilizado</label>
                                    <select id="IdLoteUsado" class="form-control border-success" asp-for="ProducaoCalha.IdLoteUsado">
                                        <option value="0">Selecione um lote...</option>
                                        <!-- Opções serão preenchidas dinamicamente -->
                                    </select>
                                    <span asp-validation-for="ProducaoCalha.IdLoteUsado" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="QuantidadeProduzido">Quantidade que será produzida</label>
                                    <input type="number" id="QuantidadeProduzido" class="form-control border-success" asp-for="ProducaoCalha.QuantidadeProduzido" placeholder="Informe a quantidade produzida" onchange="validaQuantidade(this)">
                                    <span id="quantidade-error" class="text-danger"></span>
                                </div>

                                <input type="hidden" asp-for="ProducaoCalha.IdCalha" value="@Model.SuporteProducao.Id" />
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4 border-success">
                        <div class="card-body">
                            <h5 class="card-title text-success">Fertilizantes presentes no suporte</h5>
                            <table class="table table-bordered border-success">
                                <thead class="table-success">
                                    <tr>
                                        <th>Nome do Fertilizante</th>
                                        <th>Quantidade Utilizada (g/ml)</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody id="fertilizantesTableBody">
                                    <!-- Linhas serão adicionadas dinamicamente aqui -->
                                    @foreach (var f in Model.fertilizantesView)
                                    {
                                        <tr>
                                            <td>
                                                <select asp-for="@f.Id" class="form-control border-success">
                                                    <option value="@f.Id">Selecione...</option>
                                                    @foreach (var fertilizante in Model.produtosView)
                                                    {
                                                    <option value="@fertilizante.Id">@fertilizante.Nome</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <input type="number" asp-for="@f.QtdUtilizada" class="form-control border-success" placeholder="Quantidade">
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" onclick="removerFertilizante(this)">Remover</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-outline-success" onclick="adicionarFertilizante()">Adicionar Fertilizante</button>
                        </div>
                    </div>

                    <!-- Botão de Submissão -->
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-success btn-lg">Salvar Informações do Suporte</button>
                    </div>
                </form>
            }
            else
            {
                <!-- Visualização da produção existente -->
                <div>
                    <h5>Produção atual</h5>
                    @foreach (var p in Model.produtosView)
                    {
                        @if (p.Id == Model.ProducaoCalha.IdProdutoProduzido)
                        {
                            <p>Produto: @p.Nome</p>
                            break;
                        }
                    }
                    <p>Quantidade Produzida: @Model.ProducaoCalha.QuantidadeProduzido</p>
                    <p>Dias até a colheita: @(Model.ProducaoCalha.DiaColheita.HasValue ? (Model.ProducaoCalha.DiaColheita.Value - DateTime.Now).Days : "N/A")</p>

                    <h4>Fertilizantes utilizados</h4>
                    @foreach(var f in Model.fertilizantesView)
                    {
                        <p>
                            Nome:
                        @foreach (var p in Model.produtosView)
                        {
                            if(f.Id == p.Id) {
                                 @p.Nome
                            }
                        }
                        | Quantidade utilizada: @f.QtdUtilizada
                        </p>
                    }

                    <!-- Botão para colher -->
                    <button type="button" class="btn btn-primary" onclick="togglePopup()">Colheita</button>

                    <!--Partial view-->
                    <div id="popupContainer" class="popup-container" style="display: none;">
                        @await Html.PartialAsync("_ColheitaPopUp", Model.LoteView)
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
@section Scripts {
    <script>
        var QTD_PERMITIDA_PRODUCTION;

        function buscarLotes() {
            var produtoId = document.getElementById("js-recupera-Lote").value;
            var loteSelect = document.getElementById("IdLoteUsado");

            if (produtoId !== "0") {
                fetch(`https://26.213.175.114:7154/API/GetLotesByProduto/${produtoId}`)
                    .then(response => response.json())
                    .then(lotes => {
                        lotes.forEach(lote => {
                            QTD_PERMITIDA_PRODUCTION = parseInt((lote.quantidadeLote - lote.quantidadeSaida));
                            var option = document.createElement("option");
                            option.value = lote.idCompra;
                            option.text = `Lote ${lote.idCompra} (${lote.quantidadeLote} unidades restantes )`;
                            loteSelect.add(option);
                        });
                    })
                    .catch(error => console.error('Erro ao buscar lotes:', error));
            }
        }

        function validaQuantidade(input) {
            var quantidade = parseInt(input.value, 10);
            var errorSpan = document.getElementById("quantidade-error");

            if (quantidade > QTD_PERMITIDA_PRODUCTION) {
                errorSpan.textContent = `A quantidade informada (${quantidade}) excede o limite permitido de ${QTD_PERMITIDA_PRODUCTION}.`;
            } else {
                errorSpan.textContent = "";
            }
        }

        let contadorFertilizantes = 0;

        function adicionarFertilizante() {
            const tableBody = document.getElementById("fertilizantesTableBody");
            const novaLinha = document.createElement("tr");

            novaLinha.innerHTML = `
                        <td>
                            <select name="Fertilizantes[${contadorFertilizantes}].Id" class="form-control border-success">
                                <option value="Fertilizantes[${contadorFertilizantes}.Id]">Selecione...</option>
                                @foreach (var fertilizante in Model.produtosView)
                                {
                                    <option value="@fertilizante.Id">@fertilizante.Nome</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="number" name="Fertilizantes[${contadorFertilizantes}].QtdUtilizada" class="form-control border-success" placeholder="Quantidade">
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="removerFertilizante(this)">Remover</button>
                        </td>
                    `;

            tableBody.appendChild(novaLinha);
            contadorFertilizantes++;
        }

        function removerFertilizante(button) {
            const linha = button.closest("tr");
            linha.remove();
        }

        function toggleForm() {
            const form = document.getElementById('productionForm');
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        }

        function togglePopup() {
            const popup = document.getElementById("popupContainer");
            popup.style.display = popup.style.display === "none" ? "block" : "none";
        }

        // Fecha o popup ao clicar em "Cancelar"
        document.addEventListener("click", (e) => {
            if (e.target.classList.contains("close-popup")) {
                togglePopup();
            }
        });
    </script>
}